*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 30px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    max-width: 500px;
    margin: 20px auto;
    opacity: 0;
    transform: translateY(-20px);
    animation: animation .5s forwards;
}

.container h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 20px;
}
.counter{
    display: flex;
    flex-direction: column;
}

.operations{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.operations span{
    height: 60px;
    width: 80px;
    margin-right: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.line{
    border: 1px solid rgb(184, 184, 184);
    margin: 4px 0;
    width: 40px;
}

.operators button{
    width: 40px;
    height: 25px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    background: none;
   
}

#reset{
    padding: 8px;
    width: 60%;
    cursor: pointer;
    background: #ffaa0b;
    color: #66460b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    transition: all .3s ease;
}

#reset:hover{
    box-shadow: 2px 2px 2px rgba(102, 70, 11, .8);
    color: #eeeeee;
}

.positive {
    border: 1px solid #CCC;
    padding: 2px;
    border-radius: 6px;
}

.negative{
    color: red;
    border: 1px solid #CCC;
    padding: 2px;
    border-radius: 6px;
}

@keyframes animation {
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}